@font-face {
    font-family: 'MullerBlack';
    src: url('../fonts/muller/mullerblack.woff2') format('woff2'),
         url('../fonts/muller/mullerblack.woff') format('woff'),
         url('../fonts/muller/mullerblack.ttf') format('truetype'),
         url('../fonts/muller/mullerblack.svg#mullerblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MullerBold';
    src: url('../fonts/muller/mullerbold.woff2') format('woff2'),
         url('../fonts/muller/mullerbold.woff') format('woff'),
         url('../fonts/muller/mullerbold.ttf') format('truetype'),
         url('../fonts/muller/mullerbold.svg#mullerbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'MullerExtraBold';
    src: url('../fonts/muller/mullerextrabold.woff2') format('woff2'),
         url('../fonts/muller/mullerextrabold.woff') format('woff'),
         url('../fonts/muller/mullerextrabold.ttf') format('truetype'),
         url('../fonts/muller/mullerextrabold.svg#mullerextrabold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'MullerLight';
    src: url('../fonts/muller/mullerlight.woff2') format('woff2'),
         url('../fonts/muller/mullerlight.woff') format('woff'),
         url('../fonts/muller/mullerlight.ttf') format('truetype'),
         url('../fonts/muller/mullerlight.svg#mullerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MullerMedium';
    src: url('../fonts/muller/mullermedium.woff2') format('woff2'),
         url('../fonts/muller/mullermedium.woff') format('woff'),
         url('../fonts/muller/mullermedium.ttf') format('truetype'),
         url('../fonts/muller/mullermedium.svg#mullermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MullerRegular';
    src: url('../fonts/muller/mullerregular.woff2') format('woff2'),
         url('../fonts/muller/mullerregular.woff') format('woff'),
         url('../fonts/muller/mullerregular.ttf') format('truetype'),
         url('../fonts/muller/mullerregular.svg#muller_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MullerRegularItalic';
    src: url('../fonts/muller/mullerregularitalic.woff2') format('woff2'),
         url('../fonts/muller/mullerregularitalic.woff') format('woff'),
         url('../fonts/muller/mullerregularitalic.ttf') format('truetype'),
         url('../fonts/muller/mullerregularitalic.svg#mullerregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'MullerThin';
    src: url('../fonts/muller/mullerthin.woff2') format('woff2'),
         url('../fonts/muller/mullerthin.woff') format('woff'),
         url('../fonts/muller/mullerthin.ttf') format('truetype'),
         url('../fonts/muller/mullerthin.svg#mullerthin') format('svg');
    font-weight: normal;
    font-style: normal;

}