    @media only screen and (max-width : 1040px) {
        .container-fluid{
            width: initial;
            padding-left:1rem;
            padding-right: 1rem;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
   
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {
 
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {


    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
