@font-face {
    font-family: 'pantonregular';
    src: url('../../../fonts/panton/panton-webfont.woff2') format('woff2'),
         url('../../../fonts/panton/panton-webfont.woff') format('woff'),
         url('../../../fonts/panton/panton-webfont.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pantonbold';
    src: url('../../../fonts/panton/panton-bold-webfont.woff2') format('woff2'),
         url('../../../fonts/panton/panton-bold-webfont.woff') format('woff'),
         url('../../../fonts/panton/panton-bold-webfont.svg#pantonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pantonextrabold';
    src: url('../../../fonts/panton/panton-extrabold-webfont.woff2') format('woff2'),
         url('../../../fonts/panton/panton-extrabold-webfont.woff') format('woff'),
         url('../../../fonts/panton-extrabold-webfont.svg#pantonextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pantonlight';
    src: url('../../../fonts/panton/panton-light-webfont.woff2') format('woff2'),
         url('../../../fonts/panton/panton-light-webfont.woff') format('woff'),
         url('../../../fonts/panton/panton-light-webfont.svg#pantonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pantonsemibold';
    src: url('../../../fonts/panton/panton-semibold-webfont.woff2') format('woff2'),
         url('../../../fonts/panton/panton-semibold-webfont.woff') format('woff'),
         url('../../../fonts/panton/panton-semibold-webfont.svg#pantonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pantonthin';
    src: url('../../../fonts/panton/panton-thin-webfont.woff2') format('woff2'),
         url('../../../fonts/panton/panton-thin-webfont.woff') format('woff'),
         url('../../../fonts/panton/panton-thin-webfont.svg#pantonthin') format('svg');
    font-weight: normal;
    font-style: normal;

}