
// COLORS

$color-light: #e9f2f9;
$color-light2: #9cc4e4;
$color: #3a89c9;
$color-dark: #1b325f;

$white: #fff;
$black: #000;

$gray-dark: #3e3e3e;
$gray-light: #727273;

// FONTS

$w100: 'pantonthin';
$w200: 'pantonlight';
$w300: 'pantonregular';
$w400: 'pantonsemibold';
$w500: 'pantonbold';
$w700: 'pantonextrabold';