.space-line{
    height: 20px;
    display: block;
    width: 100%;
}
// MODULE HEADER

.header-module{
    width: 100%;
    height: 103px;
    background: url('../../../img/gray/hdr.jpg') $color-light;
    display: flex;
    align-items: center;
    padding:15px 30px;
    position: relative;
    color:#fff;
    .desc{
        font-family: $w300;
        width: 320px;
        font-size: 1.3em;
        margin: 0 0 0 30px;
        span{
            font-size: 1.2em;
            text-transform: uppercase;
            font-family: $w500;
        }
    }
    .social{
        position: absolute;
        bottom:37px;
        right:15px;
        ul{
            list-style: none;
            li{
                display: inline-block;
                vertical-align: top;
                a{
                    background: $color-dark;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius:50%;

                    img{
                        vertical-align: top;
                        max-height: 16px;
                        max-width: 16px;
                        width: 16px;
                        height: 16px;
                    }
                    &:hover{
                        background: $green;
                    }
                }
            }
        }
    }
}
// MODULE NAV

nav{
    background: $color;
    position: relative;
    width: 100%;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        li{
            height: 100%;
            flex-grow:1;
            text-align: center;
            a{
                color:#fff;
                height: 100%;
                line-height: 50px;
                text-decoration: none;
                text-align: center;
                display: block;
                text-transform: uppercase;
                font-family: $w700;
                letter-spacing: 0.3px;
                font-size: 12px;
                transition:all .05s linear;
                background: $color;
                &:hover{
                    background: darken($color, 10%);
                }
            }
            &.active{
                a{
                    background: $green;
                }
            }
                .podmenu{
                    position: absolute;
                    display:none;
                    flex-wrap:wrap;
                    z-index: 15;
                    left:0;
                    right:0;
                    width: 100%;
                    height: initial;
                    background:rgba($color-dark, 0.95);
                    padding:30px 45px 0;
                    &.open{
                        display: flex;
                    }
                    ul{
                        list-style: none;
                        display:block;
                        height: initial;
                        margin: 0 50px 15px 0;
                        width: 13%;
                        li{
                            background: transparent;
                            line-height: 100%;
                            height: initial;
                            a{
                                background: transparent;
                                line-height: 120%;
                                text-align: left;
                                font-size: 0.65em;
                                font-family: $w300;
                                padding-bottom: 10px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            opacity:0.5;
                            &.title{
                                opacity:1;
                                a{
                                    font-family: $w500;
                                }
                            }
                        }
                    }
                }
        }
    }
}

.mobile-nav-module{
    display: none;
    height: 65px;
    background: $color;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 90;
    align-items: center;
    padding:0 15px 0 0;
    .logo{
        position: relative;
        margin: 0 0 0 10px;
        img{
            width: 45px;
        }
    }
    .nav{
        position: fixed;
        left:0;
        right:0;
        background: $color-light;
        top:65px;
        height: 100%;
        overflow:auto;
        display: none;
        padding-bottom: 65px;
        ul{
            list-style: none;
            li{
                &.has-podmenu{
                    >a{
                    position: relative;
                        &:after{
                            content:'';
                            position: absolute;
                            display: inline-block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 7px 5px 0 5px;
                            border-color: $color transparent transparent transparent;
                            right:15px;
                            top:50%;
                            margin: -5px 0 0 0;
                        }
                    }
                }
                a{
                    display: block;
                    text-decoration: none;
                    padding:15px 30px;
                    color:$black;
                    border-bottom:solid 1px lighten($color-light, 10%);
                }
                .podmenu{
                    background: lighten($color-light, 10%);
                    display: none;
                    &.open{
                        display: block;
                    }
                    li{
                        a{
                            padding:8px 30px 8px 45px;
                            font-size: 0.7em;
                        }
                        &.title{
                            font-family: $w500;
                        }
                    }
                }
            }
        }
    }
    .nav-icon-wrap{
        background: $color-dark;
        height: 100%;
        display:flex;
        align-items: center;
        width: 65px;
        justify-content: center;
        cursor: pointer;
    }
    .desc{
        color:$white;
        margin-left: 15px;
        span{
            display: block;
            text-transform: uppercase;
            font-family: $w500;
        }
    }

    /* menu mobile btn */
    #nav-icon {
      width: 25px;
      height: 20px;
      position: relative;
      display: inline-block;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #fff;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
      top: 0px;
    }

    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
      top: 8px;
    }

    #nav-icon span:nth-child(4) {
      top: 16px;
    }
    #nav-icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
}

// MODULE SLIDER
    .slider-module{
        overflow: hidden;
        background: $color-dark;
        width: 66.6666%;
        height: 350px;
        .slick-arrow{
            position: absolute;
        }
        .slick-next{
            display: inline-block;
            position: absolute;
            z-index: 10;
            right:0;
            top:50%;
            padding:10px;
            background: rgba(0, 0, 0, 0.5);
            margin: -28px 0 0 0;
            cursor: pointer;
            &:before{
                content:'';
                display:inline-block;
                width: 15px;
                height: 30px;
                vertical-align: top;
                background: url('../../../img/gray/icons/svgsprite/left-w.svg') ;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:hover{
                background: rgba(0, 0, 0, 0.9);
            }
        }
        .slick-prev{
            display: inline-block;
            position: absolute;
            z-index: 10;
            left:0;
            top:50%;
            transform:rotate(-180deg);
            padding:10px;
            background: rgba(0, 0, 0, 0.5);
            margin: -28px 0 0 0;
            cursor: pointer;
            &:before{
                content:'';
                display:inline-block;
                width: 15px;
                vertical-align: top;
                height: 30px;
                background: url('../../../img/gray/icons/svgsprite/left-w.svg') ;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:hover{
                background: rgba(0, 0, 0, 0.9);
            }
        }
        img{
            width: 100%;
            vertical-align: top;
        }
            .slick-dots{
                list-style: none;
                position: absolute;
                right:15px;
                bottom:20px;
                li{
                    display:inline-block;
                    vertical-align: top;
                    margin: 0 3px;
                    button{
                        font-size: 0;
                        width: 7px;
                        cursor: pointer;
                        height: 7px;
                        background: $color-light2;
                    }
                    &.slick-active{
                        button{
                            background: $white;
                        }
                    }
                }
            }
           
        .slide-link{
            position: relative;
            display: block;
            text-decoration: none;
                .icons{
                    position: absolute;
                    top:30px;
                    right:15px;
                    z-index: 15;
                    .video{
                        display: inline-block;
                        background: rgba(0, 0, 0, 0.8);
                        padding:3px;
                        margin: 0 0 0 7px;
                        &:before{
                            content:'';
                            display: inline-block;
                            vertical-align: top;
                            width: 23px;
                            height: 20px;
                            background: url('../../../img/gray/icons/svgsprite/video.svg') ;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                    .photo{
                        display: inline-block;
                        background: rgba(0, 0, 0, 0.8);
                        padding:3px;
                        &:before{
                            content:'';
                            display: inline-block;
                            vertical-align: top;
                            width: 23px;
                            height: 20px;
                            background: url('../../../img/gray/icons/svgsprite/photo.svg') ;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            .desc-box{
                display: block;
                position: absolute;
                bottom:0;
                left:0;
                right:0;
                background: rgba(0, 0, 0, 0.7);
                z-index: 15;
                padding:10px 30px;
                transition:all .2s linear;
                .date{
                    color:$color-light2;
                    margin: 0 0 5px 0;
                    text-transform: uppercase;
                    font-family: $w500;
                    font-size: 80%;
                }
                .title{
                    color:$white;
                    text-transform: uppercase;
                    font-size: 1.6em;
                    font-family: $w700;
                    display: block;
                    margin-bottom: 5px;
                }
                .desc{
                    color:$white;
                    max-height:40px;
                    overflow: hidden;
                    display: block;
                }
            }
            &:hover{
                .desc-box{
                   background: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
// MODULE SLIDER FULL
        .slider-module.full{
            width: 100%;
            height: 526px;
            .slick-dots{
                list-style: none;
                position: absolute;
                bottom:95px;
                right:15px;
                top:initial;
                li{
                    display:inline-block;
                    vertical-align: top;
                    margin: 0 5px;
                    button{
                        font-size: 0;
                        width: 10px;
                        cursor: pointer;
                        height: 10px;
                        background: $color-light2;
                    }
                    &.slick-active{
                        button{
                            background: $white;
                        }
                    }
                }
            }
        }

// MODULE CALENDAR
    .calendar-module{
        background: $color-light;
        width: 33.333%;
        height: 350px;
        .top{
            display:flex;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            padding:0 15px;
            .title{
                font-size: 1em;
                color:$color-dark;
                font-family: $w700;
                text-transform: uppercase;
            }
            .more{
                font-size: 0.75em;
                font-family: $w500;
                color:$color;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .calendar-block{
            height: 250px;
            .calendar-block-content{
                .top{
                    display:flex;
                    justify-content: center;
                       span{
                            margin: 0;
                            text-transform: uppercase;
                            font-family: $w700;
                            font-size: 0.7em;
                            color:$gray-dark;
                        }
                            .time{
                                color:$color;
                                font-size: 1.3em;
                            }
                            .pre{
                                margin: 0 7px;
                            }
                            .team{
                                width: 100px;
                                white-space:nowrap;
                                overflow: hidden;
                                text-overflow:ellipsis;
                                display: block;
                                &.team-left{
                                    text-align: right;
                                }
                                &.team-right{
                                    text-align: left;
                                }
                            }
                }
                .center{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    .team{
                        width: 90px;
                        overflow: hidden;
                        .img-wrap{
                            width: 100px;
                            height: 100px;
                            margin-bottom:8px;
                            display:flex;
                            align-items: center;
                            justify-content: center;
                        }
                        text-align: center;
                        .name{
                            font-size: 0.8em;
                            text-transform: uppercase;
                            color:$color-dark;
                            overflow: hidden;
                            display: block;
                            font-family: $w700;
                        }
                        .city{
                            font-size: 0.8em;
                            overflow: hidden;
                            display: block;
                        }
                    }
                    .count{
                        text-align: center;
                        margin: 0 10px;
                        .number{
                            font-family: $w700;
                            color:$color-dark;
                            font-size: 2em;
                        }
                        .name{
                            font-size: 0.7em;
                            text-transform: uppercase;
                        }
                    }
                }
                .bottom{
                    display:flex;
                    margin: 15px 0 17px 0;
                    justify-content: center;
                    p{
                        margin: 0;
                        text-transform: uppercase;
                        font-family: $w700;
                        font-size: 0.7em;
                        color:$gray-dark;
                    }
                    .pre{
                        margin: 0 7px;
                    }
                }
            }
        }
        .calendar-dates{
            .slick-list{
                margin: 0 21px;
            }
        .slick-next{
            display: inline-block;
            position: absolute;
            z-index: 10;
            right:0;
            top:50%;
            height: 50px;
            padding:0px 5px;
            background: $color-dark;
            margin: -25px 0 0 0;
            cursor: pointer;
            &:before{
                content:'';
                display:inline-block;
                width: 10px;
                height: 20px;
                vertical-align: top;
                background: url('../../../img/gray/icons/svgsprite/left.svg') ;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:hover{
                background: $color;
            }
        }
        .slick-prev{
            display: inline-block;
            position: absolute;
            z-index: 10;
            left:0;
            height: 50px;
            top:50%;
            transform:rotate(-180deg);
            padding:0px 5px;
            background: $color-dark;
            margin: -25px 0 0 0;
            cursor: pointer;
            &:before{
                content:'';
                display:inline-block;
                width: 10px;
                vertical-align: top;
                height: 20px;
                background: url('../../../img/gray/icons/svgsprite/left.svg') ;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:hover{
                background: $color;
            }
        }
            .center{
                background: $color-dark;
                color:$color-light2;
                height: 50px;
                text-align: center;
                margin: 0 0.5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                .count{
                    width: 100%;
                    line-height: 100%;
                    font-size: 1.2em;
                }
                .name{
                    line-height: 100%;
                }
            }
            .slick-current{
                .center{
                    background: $color-light;
                    color:$color-dark;
                    .count{
                        font-family: $w700;
                    }
                }
            }
        }
    }

// MODULE NEWS CUBE
    .news-bar{
        background: $color-dark;
        height: 50px;
        overflow: hidden;
        display:flex;
        align-items: center;
        padding:0 15px;
        a{
            color:$color-light2;
            font-size: 0.8em;
            margin: 0 5px;
            &:hover{
                color:$white;
                text-decoration: underline;
            }
        }
        .title{
            text-decoration: none;
            font-family: $w700;
            text-transform: uppercase;
            color:$white;
            font-size: 1em;
            margin: 0 10px 0 0;
        }
        .left{
            width: 100%;
            white-space:nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            color:$color-light;
        }
        .right{
            text-align: right;
            width: 30%;
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                color:#fff;
                &:hover{
                    text-decoration: none;
                }
            }
        }

    }
    .more-btn{
        background: $green;
        color:#fff;
        display: block;
        text-align: right;
        height: 50px;
        padding:0 15px;
        letter-spacing: 0.5px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-family: $w500;
        line-height: 50px;
        transition:all .2s linear;
        &:hover{
            background: lighten($green, 10%);
        }
    }
    .news-cube-module{
        background: #fff;
        width: 66.666%;
        ul{
            list-style: none;
            display:flex;
            flex-wrap:wrap;
            li{
                .img-wrap{
                    text-decoration: none;
                    border:solid 3px transparent;
                    margin-bottom: 5px;
                    overflow: hidden;
                    display: block;
                    img{
                        width: 100%;
                        vertical-align: top;
                    }
                }
                width: 50%;
                padding:10px 15px 10px;
                &:hover{
                    .img-wrap{
                        border-color:$color;
                    }
                }
                .top{
                    display:flex;
                    width: 100%;
                    margin: 0 0 5px 0;
                    align-items: center;
                    .tags{
                        vertical-align: top;
                     width: 100%;
                    overflow: hidden;
                    display: block;
                    text-overflow:ellipsis;
                    white-space: nowrap;                       
                    }
                    .date{
                        margin: 0 5px 0 0;
                        color:$gray-light;
                        vertical-align: top;
                        font-size: 0.75em;
                    }
                    .tag{
                        text-decoration: none;
                        color:$color;
                        font-family: $w500;
                        margin: 0 5px;
                         font-size: 0.75em;
                         &:hover{
                            text-decoration: underline;
                         }
                    }
                }
                a{
                    text-decoration: none;
                }
                .title{
                    color:$black;
                    font-family: $w700;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                .desc{
                    font-size: 0.75em;
                    color:$black;
                }
            }
        }
    }
// MODULE NEWS STROKE
    .news-stroke-module{
        background: #fff;
        width: 66.666%;
        ul{
            list-style: none;
            li{
                display:flex;
                padding:10px 15px;
                align-items: center;
                .img-wrap{
                    margin: 0 15px 0 0;
                    display: block;
                    text-decoration: none;
                    width: 190px;
                    border:solid 3px transparent;
                    img{
                        width: 100%;
                        vertical-align: top;
                    }
                }
                &:hover{
                    .img-wrap{
                        border-color:#fff;
                    }
                    .text{
                        .title{
                         color:$green;
                        }
                    }
                }
                .text{
                    width: calc(100% - 205px);
                .top{
                    display:flex;
                    width: 100%;
                    margin: 0 0 5px 0;
                    align-items: center;
                    .tags{
                        vertical-align: top;
                     width: 100%;
                    overflow: hidden;
                    display: block;
                    text-overflow:ellipsis;
                    white-space: nowrap;                       
                    }
                    .date{
                        margin: 0 5px 0 0;
                        color:$green;
                        font-family: $w500;
                        vertical-align: top;
                        font-size: 0.75em;
                    }
                    .tag{
                        text-decoration: none;
                        color:$color;
                        font-family: $w500;
                        margin: 0 5px;
                         font-size: 0.75em;
                         &:hover{
                            text-decoration: underline;
                         }
                    }
                }
                a{
                    text-decoration: none;
                }
                .title{
                    color:$black;
                    font-family: $w700;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                .desc{
                    font-size: 0.75em;
                    color:$black;
                }
                }
            }
        }
    }

// MODULE NEWS MINIMAL
    .news-minimal-module{
        background: darken($white, 7%);
        width: 33.333%;
        height: 350px;
        .top{
            background: $color-dark;
            height: 50px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding:0 15px;
            .title{
                color:#fff;
                font-size: 1em;
                text-transform: uppercase;
                font-family: $w700;
                text-decoration: none;
                position: relative;
                cursor: pointer;                
            }
            .link{
                color:$color-light2;
                font-size: 0.8em;
                &:hover{
                    color:$white;
                }
            }
        }
        .center{
            padding:0 15px;
            height:calc(100% - 50px);
            ul{
                list-style: none;
                margin: 15px 0;
                li{
                    display: flex;
                    align-items: center;
                    margin: 0 0 8px 0;
                    .img-wrap{
                        width: 110px;
                        margin-right: 10px;
                        overflow: hidden;
                        border:solid 2px transparent;
                        img{
                            vertical-align: top;
                        }
                        &:hover{
                            border-color:$color;
                        }
                    }
                    .text{
                        width: calc(100% - 110px);
                        .date{
                            font-size: 0.7em;
                            text-transform: uppercase;
                            color:$gray-light;
                            display: block;
                            margin: 0 0 2px 0;
                        }
                        a{
                            text-decoration: none;
                            &:hover{
                                &.title{
                                    text-decoration: underline;
                                }
                            }
                        }
                        .title{
                            color:$black;
                            font-family: $w500;
                            line-height: 100%;
                            font-size: 0.9em;
                        }
                        .tags{
                            a{
                                color:$color;
                                font-size: 0.7em;
                                font-family: $w500;
                                margin: 0 5px 0 0;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

// MODULE CHAMPIONSHIP
    .championship-module{
        height: 450px;
        background: $color-light2;
    }
// MOBULE BANER
    .baner-module{
        background: $color-dark;
        width: 33.333%;
        img{
            vertical-align: top;
        }
    }
// MODULE MEDIA
    .media-module{
        background: $gray-light;
        position: relative;
        width: 66.666%;
        height: 350px;
        .slider{
            .slick-arrow{
                position: absolute;
            }
            .slick-prev{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                z-index: 10;
                background: transparent;
                right:50px;
                width: 30px;
                height: 30px;
                background: $color-dark;
                vertical-align: top;
                top:-40px;
                cursor: pointer;
                &:before{
                    content:'';
                    display:inline-block;
                    width: 10px;
                    height: 20px;
                    transform:rotate(-180deg);
                    vertical-align: top;
                    background: url('../../../img/gray/icons/svgsprite/left.svg') ;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &:hover{
                    background: $color;
                }
            }
            .slick-next{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                z-index: 10;
                background: transparent;
                right:15px;
                width: 30px;
                height: 30px;
                background: $color-dark;
                vertical-align: top;
                top:-40px;
                cursor: pointer;
                &:before{
                    content:'';
                    display:inline-block;
                    width: 10px;
                    height: 20px;
                    vertical-align: top;
                    background: url('../../../img/gray/icons/svgsprite/left.svg') ;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &:hover{
                    background: $color;
                }
            }
            .slide{
                display:flex;
                justify-content: space-between;
                padding:7px 15px 15px;
                .right{
                    width: 35.5%;
                    .min-img{
                        width: 100%;
                        border:solid 3px $white;
                        overflow: hidden;
                        display: block;
                        position: relative;
                        img{
                            width: 100%;
                            vertical-align: top;
                        }
                            &:hover{
                                .desc{
                                    background: rgba($black, 0.9);
                                }
                            }
                        .desc{
                            position: absolute;
                            left:0;
                            right:0;
                            bottom:0;
                            background: rgba($black, 0.5);
                            padding:5px 15px 8px;
                            z-index: 6;
                            transition:all .1s linear;
                            line-height: 100%;
                            .date{
                                color:$white;
                                color:$color-light2;
                                font-size: 0.7em;
                                font-family: $w500;
                                margin: 0 0 5px 0;
                            }
                            .title{
                               color:$white; 
                               font-size: 0.7em;
                               line-height: 100%;
                               font-family: $w500;
                            }
                        }
                        &:last-child{
                            margin-top: 10px;
                        }
                    }       
                }
                .big-img{
                    width: 63%;
                    border:solid 3px $white;
                    position: relative;
                    display: block;
                    img{
                        width: 100%;
                        vertical-align: top;
                    }
                    &:hover{
                        .desc{
                            background: rgba($black, 0.9);
                        }
                    }
                    .desc{
                        position: absolute;
                        left:0;
                        right:0;
                        bottom:0;
                        background: rgba($black, 0.5);
                        padding:10px 15px;
                        transition:all .1s linear;
                        .date{
                            color:$white;
                            display: block;
                            color:$color-light2;
                            font-size: 0.75em;
                            font-family: $w500;
                            margin: 0 0 5px 0;
                        }
                        .title{
                           color:$white; 
                           font-size: 0.9em;
                           font-family: $w500;
                        }
                    }
                }                
            }
        }
        .top{
            height: 50px;
            display:flex;
            padding:0 15px;
            align-items: center;
            .title{
                color:#fff;
                font-size: 1em;
                text-transform: uppercase;
                font-family: $w700;
                text-decoration: none;
            }
            .filters{
                margin: 0 30px;
                label{
                    margin: 0 10px;
                    span{
                        text-decoration: underline;
                        color:$color-light2;
                        font-family: $w700;
                        cursor: pointer;
                        font-size: 0.8em;
                    }
                    input{
                        display: none;
                        &:checked + span{
                            color:#fff;
                        }
                    }
                }
            }
            a{
                color:#fff;
                font-size: 0.8em;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
// MODULE BOMBARDIRS
    .bombardirs-module{
        background: $color-light2;
        width: 33.333%;
        height: 350px;
        .top{
            height: 50px;
            display:flex;
            align-items: center;
            padding:0 15px;
            background:$color;
            justify-content: space-between;
            position: relative;
            .module-list{
                position: absolute;
                top:50px;
                left:0;
                width: 80%;
                max-width:100%;
                max-height:300px;
                overflow:auto;
                z-index: 50;
                display: none;
                ul{
                    list-style: none;
                    background: $white;
                    li{
                        a{
                            background: $white;
                            display: block;
                            padding:8px 15px;
                            text-decoration: none;
                            font-size: 0.9em;
                            color:#000;
                            border-bottom:solid 1px $color;
                            &:hover{
                                background: $color-light;
                            }
                        }
                    }
                }
            }
            .title{
                color:#fff;
                font-size: 1em;
                text-transform: uppercase;
                font-family: $w700;
                text-decoration: none;
                position: relative;
                cursor: pointer;
                &:after{
                    content:'';
                    display: inline-block;
                    position: absolute;
                    right:-20px;
                    width: 13px;
                    height: 10px;
                    background: url('../../../img/gray/icons/svgsprite/arrow-bottom.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: rotate(90deg);
                    top:50%;
                    margin: -2px 0 0 0;
                }
            }
            .link{
                color:#fff;
                font-size: 0.8em;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .center{
            padding:0 15px;
            height: 300px;
            overflow:auto;
            ul{
                list-style: none;
                margin: 15px 0;
                li{
                    margin: 0 0 25px 0;
                    a{
                        display:flex;
                        text-decoration: none;
                        align-items: center;
                        &:hover{
                            .name{
                                text-decoration: underline;
                            }
                        }
                        .count{
                            background: $color-dark;
                            color:$white;
                            padding:10px;
                            font-family: $w700;
                            font-size: 1.5em;
                            margin-left: auto;
                        }
                        .img-wrap{
                            width: 70px;
                            height: 70px;
                            margin: 0 10px 0 0;
                            img{
                                vertical-align: top;
                            }
                        }
                        .text{
                            width: calc(100% - 150px);
                        }
                        .name{
                            text-transform: uppercase;
                            color:$black;
                            font-family: $w500;
                            font-size: 0.8em;
                            margin: 0 0 5px 0;
                            max-height:32px;
                            overflow: hidden;
                            display: block;
                        }
                        .desc{
                            color:$black;
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }
// MODULE SOCIAL
    .social-module{
        height: 350px;
        text-align: center;
        padding:1em;
        width: 33.333%;
        background: $white;
        img{
            max-width: 100%;
            max-height:100%;
        }
    }
// MODULE VOICE
    .voice-module{
        background: $color-dark;
        height: 300px;
    }
// MODULE PARTNERS
    .partners-module{
        background: $color-light2;
        height: 130px;
        position: relative;
        padding:35px 30px 30px;
        width: 100%;
        .slick-arrows{
            position: absolute;
        }
        .slick-list{
            margin: 0 30px;
        }
        .slick-next{
            display: inline-block;
            position: absolute;
            z-index: 10;
            background: transparent;
            right:0;
            vertical-align: top;
            top:50%;
            margin: -15px 0 0 0;
            cursor: pointer;
            &:before{
                content:'';
                display:inline-block;
                width: 15px;
                height: 30px;
                vertical-align: top;
                background: url('../../../img/gray/icons/svgsprite/left.svg') ;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .slick-prev{
            display: inline-block;
            position: absolute;
            z-index: 10;
            left:0;
            vertical-align: top;
            top:50%;
            transform:rotate(-180deg);
            margin: -15px 0 0 0;
            cursor: pointer;
            background: transparent;
            &:before{
                content:'';
                display:inline-block;
                width: 15px;
                vertical-align: top;
                height: 30px;
                background: url('../../../img/gray/icons/svgsprite/left.svg') ;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .slider{
            .part-link{
                display:flex;
                align-items: center;
                justify-content: center;
                width: 240px;
                height: 60px;
                img{
                    max-width:80%;
                    max-height:45px;
                    vertical-align: top;
                }
            }
        }
        .title{
            position: absolute;
            color:$color-dark;
            text-transform: uppercase;
            font-family: $w700;
            font-size: 0.8em;
            top:10px;
            left:15px;
        }   
    }
// MODULE FOOTER

.footer-module{
    padding:30px 15px 0;
    width: 100%;
    background: $color-dark;
    .top{
        display:flex;
        padding:0 0px 0px;
        justify-content: space-between;
        ul{
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color:#fff;
                    font-size: 0.8em;
                    &.title{
                            text-transform: uppercase;
                            font-family: $w700;
                            margin-bottom: 10px;
                            display: inline-block;
                            max-width:90px;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .bottom{
        height: 100px;
        display:flex;
        padding:0 0px;
        color:#fff;
        align-items: center;
        .col{
            width: 33.333%;
        }
        .copyright{
            font-size: 0.8em;
            display: inline-block;
            vertical-align: top;
        }
        .vertical-center{
            display:flex;
            align-items: center;
            .logo{
                margin: 0 20px 0 0;
            }
        }
        .developer{
            text-align: center;
            font-size: 0.8em;
            color:#fff;
            display: inline-block;
            text-decoration: none;
        }
        .logo{
            display: inline-block;
            vertical-align: top;
        }
        .counter-position{
            display: inline-block;
            margin-left: auto;
            vertical-align: top;
            img{
                display: block;
            }
        }
        .social{
            list-style: none;
            display: inline-block;
            margin: 0 30px 0 auto;
            vertical-align: top;
            li{
                display: inline-block;
                vertical-align: top;
                margin: 0 2px;
                a{
                    background: #6d737d;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius:50%;
                    img{
                        vertical-align: top;
                        max-height: 16px;
                        max-width: 16px;
                        width: 13px;
                        height: 13px;
                    }
                    &:hover{
                        background: $green;
                    }
                }
            }
        }
    }
}

// MODULE EVENTS

.events-module{
    width: 33.3333%;
    .top{
        background: darken($color-dark, 5%);
        color:#fff;
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding:0 30px;
        .title{
            font-family: $w700;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
        .right{
            background: $green;
            width: 23px;
            font-size: 14px;
            text-align: center;
            height: 23px;
            font-family: $w700;
            display: block;
            cursor: pointer;
            line-height: 23px;
            &:hover{
                background: lighten($green, 5%);
            }
        }
        .left{
            background: $green;
            width: 23px;
            font-size: 14px;
            text-align: center;
            height: 23px;
            font-family: $w700;
            display: block;
            cursor: pointer;
            line-height: 23px;
            &:hover{
                background: lighten($green, 5%);
            }
        }
    }
    .more-btn{
        background: lighten($color-dark, 7%);
        &:hover{
            background: lighten($color-dark, 14%);
        }
    }
    .center{
        background: $color-light3;
        color:#fff;
        .event-list{
            height: 1050px;
            padding:0 30px;
        }
        a{
            color:#fff;
        }
        .nav{
            height: 50px;
            padding:0 30px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            a{
                text-decoration: none;
            }
            .title-link{
                font-family: $w700;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 0.5px;
                &:hover{
                    color:$color-light;
                }
            }
            .right{
                text-align: right;
                a{
                    margin: 0 0 0 10px;
                    font-size: 13px;
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}