
// COLORS

$color-light: #b6cae3;
$color-light2: #b6cae3;
$color: #323e54;
$color-dark: #081831;
$color-light3: #4f6b8e;

$white: #fff;
$black: #000;

$gray-dark: #3e3e3e;
$gray-light: #727273;

$green:#2b9660;
$yellow:#ffff2b;

// FONTS

$w100: 'pantonthin';
$w200: 'pantonlight';
$w300: 'pantonregular';
$w400: 'pantonsemibold';
$w500: 'pantonbold';
$w700: 'pantonextrabold';