
// COLORS

$color-light: #e9f2f9;
$color-light2: #b6cae3;
$color: #323e54;
$color-dark: #081831;

$white: #fff;
$black: #000;

$gray-dark: #3e3e3e;
$gray-light: #727273;

$green:#2b9660;

// FONTS

$w100: 'pantonthin';
$w200: 'pantonlight';
$w300: 'pantonregular';
$w400: 'pantonsemibold';
$w500: 'pantonbold';
$w700: 'pantonextrabold';