@import "fonts";
@import "variables";
@import "modules";
@import "modules-media";

body{
	background: url('../../../img/gray/bg.jpg') center top fixed no-repeat #081831;
    background-size: cover;
    color:$black;
    font: 100%/1.3 $w300;
    overflow-x:hidden;
}

#wrapper{
    width: 1000px;
    margin: 0 auto;
}
.grid-sizer{
    width: 33.3333%;
}

.loader {
    position: fixed;
    left: 0px;
    right:0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../img/gray/loader.svg') center no-repeat #fff;
}

.scrollable .scroll-bar.vertical{
    background: $color-dark;
    width: 5px;
    .thumb{
        background: $white;
    }
}
    .load-more-btn{
        background: $yellow;
        text-decoration: none;
        text-align: center;
        padding:15px;
        width: 270px;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color:$color-dark;
        font-family: $w700;
        letter-spacing: 0.5px;
        font-size: 16px;
        margin: 0 auto;
        span{
            &.arrow{
                margin-left: 20px;
                svg{
                    width: 7px;
                    fill:$color-dark;
                    transform:rotate(90deg);
                }
            }
        }
        &:hover{
            background: darken($yellow, 10%);
        }
    }

.news-list-page{
    padding:30px 15px;
}
    .news-list{
        display:flex;
        flex-wrap:wrap;
    }
    .news-block{
        display: block;
        overflow: hidden;
        margin: 0 15px 30px;
        background: lighten($color-light, 10%);
        width: calc(33.333% - 30px);
        text-decoration: none;
        border:solid 1px $color-dark;
        .img-wrap{
            img{
                width: 100%;
                display: block;
            }
        }
        .title{
            margin: 15px 15px 0;
            font-size: 16px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color:$color-dark;
            font-family: $w700;
        }
        .desc{
            padding:10px 15px 20px;
            font-size: 12px;
            color:$color-dark;
        }
        &:hover{
            .title{
                color:$green;
            }
        }
    }

.media-list-page{
    padding:30px 15px;
    background: #151d2b;
}
    .media-list{
        display:flex;
        flex-wrap:wrap;
    }
    .media-block{
        display: block;
        overflow: hidden;
        margin: 0 15px 30px;
        width: calc(33.333% - 30px);
        text-decoration: none;
        &.video{
            .img-wrap{
                position: relative;
                display: block;
                &:before{
                    content:'';
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background: url('../../../img/play.png') no-repeat;
                    background-size: contain;
                    top:50%;
                    left:50%;
                    z-index: 20;
                    margin: -25px 0 0 -25px;
                }
            }
        }
        .img-wrap{
            img{
                width: 100%;
                display: block;
            }
        }
        .date{
            margin: 10px 0px 0;
            font-size: 14px;
            color:$color-light;
            font-family: $w200;
            font-style: italic;
            text-transform: uppercase;
        }
        .title{
            margin: 5px 0px 0;
            font-size: 16px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color:#fff;
            font-family: $w700;
        }
        &:hover{
            .title{
                color:$yellow;
            }
        }
    }

.tabs{
    .tab-content{

    }
    ul.tabs-nav{
        list-style: none;
        display:flex;
        margin-bottom: 15px;
        border-bottom:solid 3px $color;
        li{
            display: block;
            
            text-align: center;
            a{
                text-decoration: none;
                color:$color;
                padding:15px 25px;
                text-transform: uppercase;
                font-size: 14px;
                font-family: $w500;
                text-decoration: underline;
                display: block;
                &:hover{
                    text-decoration: none;
                    color:$green;
                }
            }
            &.ui-state-active{
                background: $color;
                a{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.documents{
    .doc{
        display:flex;
        position: relative;
        width: 100%;
        background: lighten($color-light, 10%);
        padding:15px;
        margin-bottom: 10px;
        text-decoration: none;
        color:$color;
            font-family: $w500;
            font-size: 14px;
            &:hover{
                background: lighten($color-light, 13%);
            }
        
        &:before{
            content:'';
            display: inline-block;
            vertical-align: top;
            width: 18px;
            height: 18px;
            background: url('../../../img/doc.svg') no-repeat;
            background-size: contain;
            margin-right: 10px;
        }
        .size{
            margin-left: auto;
        }
    }
}

.table-wrap{
    width: 100%;
    span{
        vertical-align: middle;
    }
                .table-img-min-wrap{
                    width: 20px;
                    margin: 0 10px 0 0;
                    display: inline-block;
                    vertical-align: middle;
                    img{
                        width: 100%;
                        vertical-align: top;
                    }
                }
    table{
        width: 100%;
        font-size: 14px;
        tr{
            th{
                background: $color;
                color:#fff;
                text-transform: uppercase;
                font-family: $w500;
                font-size: 16px;
            }
            td{
                border-bottom:solid 1px $color-light
            }
        }
    }
}

.calendar-list{
    .calendar-block{
        display:flex;
        align-items: center;
        margin-bottom: 10px;
        .calendar-content{
            display:flex;
            padding:10px 15px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            background: lighten($color-light, 10%);
            .name{
                font-size: 12px;
                color:$color;
                font-family: $w500;
                display: block;
                max-width: 130px;
            }
            .center{
                display:flex;
                align-items: center;
                .team{
                    margin: 0 10px;
                    &.tr{
                        text-align: right;
                    }
                    .team-name{
                        color:$color;
                        font-size: 18px;
                        font-family: $w500;
                        width: 100px;
                        overflow:hidden;
                        display: block;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                    }
                    .location{
                        font-size: 12px;
                        font-style: italic;
                        color:lighten($color, 20%);
                        width: 100px;
                        overflow:hidden;
                        display: block;
                        text-overflow:ellipsis;
                        white-space:nowrap;
                    }
                }
                .team-img{
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    margin: 0 10px;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .count{
                    background: $yellow;
                    color:$green;
                    font-size: 16px;
                    padding:10px 10px;
                    font-family: $w500;
                    margin: 0px 10px;
                }
            }
        }
        .date-block{
            display:flex;
            font-size: 16px;
            font-family: $w500;
            .date{
                background: $green;
                color:#fff;
                display:flex;
                align-items: center;
                justify-content: center;
                flex-wrap:wrap;
                width: 60px;
                height: 60px;
                text-align: center;
                margin: 0 15px 0 0;
                span{
                   display: block;
                }
            }
            .time{
                background:#1b325f;
                color:#fff;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                margin: 0 15px 0 0;
            }
        }
    }
}

.tournament-details-page{
    padding:30px;
    .tournament-tabs{
        .news-list{
            padding-top: 15px;
        }
        .media-list{
            padding-top: 15px;
            .media-block{
                .date{
                    color:$green;
                }
                .title{
                    color:$color;
                }
                &:hover{
                    .title{
                        color:$green;
                    }
                }
            }
        }
    }
    .top-info{
        display:flex;
        margin-bottom: 40px;
        .img-wrap{
            margin: 0 50px 0 0;
        }
        .text{
            width: calc(100% - 200px);
            .title{
                font-size: 20px;
                text-transform: uppercase;
                font-family: $w700;
                color:$color;
                margin-bottom: 25px;
                max-width: 500px;
            }
            .row{
                display:flex;
                width: 100%;
                color:$color;
                font-size: 12px;
                justify-content: space-between;
                .col{
                    width: 33.3333%;
                    padding:0 15px 0 0;
                    strong{
                        font-family: $w500;
                    }
                    p{
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        font-family: $w400;
                    }
                    .col-title{
                        font-family: $w700;
                        margin-bottom: 10px;
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 1040px) {
    #wrapper{
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .grid-sizer{
        width: 50%;
    }
    .events-module .center .event-list{
        height: 822px;
    }
    .news-stroke-module ul li{
        &:nth-child(3){
            display: none;
        }
        &:nth-child(4){
            display: none;
        }
        &:nth-child(5){
            display: none;
        }
    }
}

@media only screen and (max-width : 767px) {

        .news-list{
            .news-block{
                width: 100%;
                margin: 0 0 15px 0;
            }
        }


        .media-list{
            .media-block{
                width: 100%;
                margin: 0 0 15px 0;
            }
        }
    
    .grid-sizer{
        width: 100%;
    }
    .events-module .center .event-list{
        height: 230px;
    }
    .footer-module .bottom .vertical-center .logo{
        margin-right: 10px;
        display: none;
        img{
            width: 25px;
        }
    }
    .footer-module .bottom .copyright{
        margin-right: 0;
    }
}