

@import "fonts";
@import "variables";
@import "modules";
@import "modules-media";

body{
	background: url('../../../img/gray/bg.jpg') center top fixed no-repeat #081831;
    background-size: cover;
    color:$black;
    font: 100%/1.3 $w300;
    overflow-x:hidden;
}

#wrapper{
    width: 1000px;
    margin: 0 auto;
}
.grid-sizer{
    width: 33.3333%;
}

.loader {
    position: fixed;
    left: 0px;
    right:0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../img/gray/loader.svg') center no-repeat #fff;
}

.scrollable .scroll-bar.vertical{
    background: $color-dark;
    width: 5px;
    .thumb{
        background: $white;
    }
}

@media only screen and (max-width : 1040px) {
    #wrapper{
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .grid-sizer{
        width: 50%;
    }
}

@media only screen and (max-width : 767px) {
    .grid-sizer{
        width: 100%;
    }
}